<div>
  <h1 style="color: rgb(94, 133, 94)">About US</h1>
  <p>Accommodation in a forest in Mpumalanga / Nomtees's resort in Mpumalanga offer a different kind of holiday,<br> with accommodation normally at the same height as the forest canopy, often in eco-friendly treehouses,<br> giving wonderful views of the surrounding areas. <br>Accommodation ranges from rustic to luxury. <br>Forest Lodges in Mpumalanga offer the added attraction of game viewing at nearby game reserves, such as the Kruger National Park
</p> <img src="../../assets/imgs-hotel-Juma.jpg" style="width:400px" height="300px">;

  
  </div>