<div>
  <marquee behavior="center" direction="left">
    <img src="../../assets/caves.jpeg" style="width:400px" height="300px">&#160;
    <img src="../../assets/imgs-hotel-Juma.jpg" style="width:400px" height="300px">&#160;
    <img src="../../assets/images.jpg" style="width:400px" height="300px">&#160;
    <img src="../../assets/Main cover.jpg" style="width:400px" height="300px">&#160;
    <img src="../../assets/19612014.jpg" style="width:400px" height="300px">&#160;
    <img src="../../assets/26367617.jpg" style="width:400px" height="300px">&#160;
    <img src="../../assets/3024425_74_z.jpg" style="width:400px" height="300px">&#160;
    <img src="../../assets/Amazon-Tree--02--Zig-Koch- (1).gif" style="width:400px" height="300px">&#160;
    
  </marquee>
    
</div>
